{% include "layout.html" %}
    <!-- Make a card which has a table inside of it and table be showing todos -->
    <div class="container">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">

          {% if msg %}
          {% if msg == "Password changed successfully."%}
          <div class="alert alert-success" role="alert">
            {{ msg }}
          </div>
          {% else %}
          <div class="alert alert-danger" role="alert">
            {{ msg }}
          </div>
          {% endif %}
          {% endif %}


          <form method="POST">
            <div class="form-group">
              <label for="">Username</label>
              <input type="text" class="form-control" name="username" required/>
            </div>
            <div class="form-group">
              <label for="">Current Password</label>
              <input type="password" class="form-control" name="current_password" required/>
            </div>
            <div class="form-group">
              <label for="">New Password</label>
              <input type="password" class="form-control" name="new_password" required/>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
      </div>
    </div>